<!-- htmlhint doctype-first:false -->
    <tr>
        <td><a href="{{ MODULE_PAGE_LINK }}" title="{{ TITLE_SUMMARY }}">{{ NAME }}</a></td>
        <td><code>{{ VERSION }}</code></td>
        <td><code>{{ PROCESS_REFERENCE }}</code><br><sub>{{ PROCESS_STATUS }}</sub></td>
        <td><a href="https://github.com/{{ OWNER }}/{{ NAME }}/issues">{{ ISSUES }}</a></td>
        <td><a href="https://github.com/{{ OWNER }}/{{ NAME }}/pulls">{{ PULL_REQUESTS }}</a></td>
        <td><a href="https://github.com/{{ OWNER }}/{{ NAME }}/stargazers">{{ STARS }}</a></td>
    </tr>
