<!-- htmlhint doctype-first:false -->

<table>
    <tr>
        <th width="24%">Name</th>
        <th width="12%"><img src="../../assets/images/module-catalog/githubtags.svg" alt="Version" title="Version" width="16" height="16"></th>
        <th width="24%"><img src="../../assets/images/module-catalog/package-variant-closed-check.svg" alt="Process version" title="Process version" width="16" height="16"></th>
        <th width="10%"><img src="../../assets/images/module-catalog/githubissues.svg" alt="Issues" title="Issues" width="16" height="16"></th>
        <th width="10%"><img src="../../assets/images/module-catalog/githubpullrequests.svg" alt="Pull requests" title="Pull requests" width="16" height="16"></th>
        <th width="10%"><img src="../../assets/images/module-catalog/githubstars.svg" alt="Stars" title="Stars" width="16" height="16"></th>
    </tr>
{{ ROWS }}</table>
