name: Build-Module

on:
  workflow_call:
    inputs:
      Settings:
        type: string
        description: The settings object as a JSON string.
        required: true
      ArtifactName:
        type: string
        description: Name of the artifact to upload.
        required: false
        default: module

permissions:
  contents: read # to checkout the repository

jobs:
  Build-Module:
    name: Build-Module
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Build module
        uses: PSModule/Build-PSModule@869da3f28cbb5c04c6868dded0d511a40f191a59 # v4.0.12
        with:
          Name: ${{ fromJson(inputs.Settings).Name }}
          ArtifactName: ${{ inputs.ArtifactName }}
          WorkingDirectory: ${{ fromJson(inputs.Settings).WorkingDirectory }}
