name: Build-Module

on:
  workflow_call:
    inputs:
      Name:
        type: string
        description: The name of the module to process. Scripts default to the repository name if nothing is specified.
        required: false
      ArtifactName:
        type: string
        description: Name of the artifact to upload.
        required: false
        default: module
      WorkingDirectory:
        type: string
        description: The working directory where the script will run from.
        required: false
        default: '.'

permissions:
  contents: read # to checkout the repository

jobs:
  Build-Module:
    name: Build-Module
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Build module
        uses: PSModule/Build-PSModule@fe8cc14a7192066cc46cb9514659772ebde05849 # v4.0.9
        with:
          Name: ${{ inputs.Name }}
          ArtifactName: ${{ inputs.ArtifactName }}
          WorkingDirectory: ${{ inputs.WorkingDirectory }}
