name: Build-Site

on:
  workflow_call:
    inputs:
      Name:
        type: string
        description: The name of the module to process. Scripts default to the repository name if nothing is specified.
        required: false
      Debug:
        type: boolean
        description: Enable debug output.
        required: false
        default: false
      Verbose:
        type: boolean
        description: Enable verbose output.
        required: false
        default: false
      Version:
        type: string
        description: Specifies the version of the GitHub module to be installed. The value must be an exact version.
        required: false
        default: ''
      Prerelease:
        type: boolean
        description: Whether to use a prerelease version of the 'GitHub' module.
        required: false
        default: false
      WorkingDirectory:
        type: string
        description: The working directory where the script will run from.
        required: false
        default: '.'

permissions:
  contents: read # to checkout the repo

jobs:
  Build-Site:
    name: Build-Site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install-PSModuleHelpers
        uses: PSModule/Install-PSModuleHelpers@d60d63e4be477d1ca0c67c6085101fb109bce8f1 # v1.0.6

      - name: Download docs artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: docs
          path: ${{ inputs.WorkingDirectory }}/outputs/docs

      - name: Install mkdocs-material
        shell: pwsh
        run: |
          pip install mkdocs-material
          pip install mkdocs-git-authors-plugin
          pip install mkdocs-git-revision-date-localized-plugin
          pip install mkdocs-git-committers-plugin-2

      - name: Structure site
        uses: PSModule/GitHub-Script@8b9d2739d6896975c0e5448d2021ae2b94b6766a # v1.7.6
        with:
          Debug: ${{ inputs.Debug }}
          Prerelease: ${{ inputs.Prerelease }}
          Verbose: ${{ inputs.Verbose }}
          Version: ${{ inputs.Version }}
          WorkingDirectory: ${{ inputs.WorkingDirectory }}
          Script: |
            LogGroup "Get folder structure" {
                $functionDocsFolder = New-Item -Path "outputs/site/docs/Functions" -ItemType Directory -Force
                Copy-Item -Path "outputs/docs/*" -Destination "outputs/site/docs/Functions" -Recurse -Force
                $moduleName = [string]::IsNullOrEmpty('${{ inputs.Name }}') ? $env:GITHUB_REPOSITORY_NAME : '${{ inputs.Name }}'
                $ModuleSourcePath = Resolve-Path 'src' | Select-Object -ExpandProperty Path
                $SiteOutputPath = Resolve-Path 'outputs/site' | Select-Object -ExpandProperty Path

                Write-Host "Function Docs Folder: $functionDocsFolder"
                Write-Host "Module Name:          $moduleName"
                Write-Host "Module Source Path:   $ModuleSourcePath"
                Write-Host "Site Output Path:     $SiteOutputPath"
            }

            LogGroup "Get folder structure" {
                Get-ChildItem -Recurse | Select-Object -ExpandProperty FullName | Sort-Object | Format-List
            }

            Get-ChildItem -Path $functionDocsFolder -Recurse -Force -Include '*.md' | ForEach-Object {
                $fileName = $_.Name
                LogGroup " - $fileName" {
                    Show-FileContent -Path $_
                }
            }

            LogGroup 'Build docs - Process about topics' {
                $aboutDocsFolderPath = Join-Path -Path $SiteOutputPath -ChildPath 'docs/About'
                $aboutDocsFolder = New-Item -Path $aboutDocsFolderPath -ItemType Directory -Force
                $aboutSourceFolder = Get-ChildItem -Path $ModuleSourcePath -Directory | Where-Object { $_.Name -eq 'en-US' }
                Get-ChildItem -Path $aboutSourceFolder -Filter *.txt | Copy-Item -Destination $aboutDocsFolder -Force -Verbose -PassThru |
                    Rename-Item -NewName { $_.Name -replace '.txt', '.md' }

                Write-Host "About Docs Folder:    $aboutDocsFolder"
                Write-Host "About Source Folder:  $aboutSourceFolder"
            }

            LogGroup 'Build docs - Copy icon to assets' {
                $assetsFolderPath = Join-Path -Path $SiteOutputPath -ChildPath 'docs/Assets'
                $assetsFolder = New-Item -Path $assetsFolderPath -ItemType Directory -Force
                $rootPath = Split-Path -Path $ModuleSourcePath -Parent
                $iconPath = Resolve-Path 'icon\icon.png' | Select-Object -ExpandProperty Path
                Copy-Item -Path $iconPath -Destination $assetsFolder -Force -Verbose

                Write-Host "Assets Folder:        $assetsFolder"
                Write-Host "Icon Path:            $iconPath"
            }

            LogGroup 'Build docs - Copy readme.md' {
                $readmePath = Resolve-Path 'README.md' | Select-Object -ExpandProperty Path
                $readmeTargetPath = Join-Path -Path $SiteOutputPath -ChildPath 'docs/README.md'
                Copy-Item -Path $readmePath -Destination $readmeTargetPath -Force -Verbose

                Write-Host "Readme Path:          $readmePath"
                Write-Host "Readme Target Path:   $readmeTargetPath"
            }

            LogGroup 'Build docs - Create mkdocs.yml' {
                $rootPath = Split-Path -Path $ModuleSourcePath -Parent
                $possiblePaths = @(
                    '.github/mkdocs.yml',
                    'docs/mkdocs.yml',
                    'mkdocs.yml'
                )

                $mkdocsSourcePath = $null
                foreach ($path in $possiblePaths) {
                    $candidatePath = Join-Path -Path $rootPath -ChildPath $path
                    if (Test-Path -Path $candidatePath) {
                        $mkdocsSourcePath = $candidatePath
                        break
                    }
                }

                if (-not $mkdocsSourcePath) {
                    throw "Mkdocs source file not found in any of the expected locations: $($possiblePaths -join ', ')"
                }

                $mkdocsTargetPath = Join-Path -Path $SiteOutputPath -ChildPath 'mkdocs.yml'

                Write-Host "Mkdocs Source Path:   $mkdocsSourcePath"
                Write-Host "Mkdocs Target Path:   $mkdocsTargetPath"

                $mkdocsContent = Get-Content -Path $mkdocsSourcePath -Raw
                $mkdocsContent = $mkdocsContent.Replace('-{{ REPO_NAME }}-', $ModuleName)
                $mkdocsContent = $mkdocsContent.Replace('-{{ REPO_OWNER }}-', $env:GITHUB_REPOSITORY_OWNER)
                $mkdocsContent | Set-Content -Path $mkdocsTargetPath -Force
                Show-FileContent -Path $mkdocsTargetPath
            }

      - name: Build mkdocs-material project
        working-directory: ${{ inputs.WorkingDirectory }}/outputs/site
        shell: pwsh
        run: |
          LogGroup 'Build docs - mkdocs build - content' {
            Show-FileContent -Path mkdocs.yml
          }

          LogGroup 'Build docs - mkdocs build' {
            mkdocs build --config-file mkdocs.yml --site-dir ../../_site
          }

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          name: github-pages
          path: ${{ inputs.WorkingDirectory }}/_site
          retention-days: 1
