name: Get-TestResults

on:
  workflow_call:
    inputs:
      Settings:
        type: string
        description: The complete settings object including test suites.
        required: true
      Debug:
        type: boolean
        description: Enable debug output.
        required: false
        default: false
      Verbose:
        type: boolean
        description: Enable verbose output.
        required: false
        default: false
      Version:
        type: string
        description: Specifies the version of the GitHub module to be installed. The value must be an exact version.
        required: false
        default: ''
      Prerelease:
        type: boolean
        description: Whether to use a prerelease version of the 'GitHub' module.
        required: false
        default: false
      WorkingDirectory:
        type: string
        description: The working directory where the script will run from.
        required: false
        default: '.'

permissions:
  contents: read # to checkout the repo

jobs:
  Get-TestResults:
    name: Get-TestResults
    runs-on: ubuntu-latest
    steps:
      - name: Get-TestResults
        uses: PSModule/Get-PesterTestResults@0c1d8cde9575b192831f76e87d3f7e825a7d8ff4 # v1.0.7
        id: Get-TestResults
        with:
          SourceCodeTestSuites: ${{ fromJson(inputs.Settings).TestSuites.SourceCode }}
          PSModuleTestSuites: ${{ fromJson(inputs.Settings).TestSuites.PSModule }}
          ModuleTestSuites: ${{ fromJson(inputs.Settings).TestSuites.Module }}
          Debug: ${{ inputs.Debug }}
          Prerelease: ${{ inputs.Prerelease }}
          Verbose: ${{ inputs.Verbose }}
          Version: ${{ inputs.Version }}
          WorkingDirectory: ${{ inputs.WorkingDirectory }}
