name: Get-CodeCoverage

on:
  workflow_call:
    inputs:
      StepSummary_Mode:
        type: string
        description: |
          Controls which sections to show in the GitHub step summary.
          Use 'Full' for all sections, 'None' to disable, or a comma-separated list of 'Missed, Executed, Files'.
        required: false
        default: Missed, Files
      CodeCoveragePercentTarget:
        type: number
        description: The target for code coverage.
      Debug:
        type: boolean
        description: Enable debug output.
        required: false
        default: false
      Verbose:
        type: boolean
        description: Enable verbose output.
        required: false
        default: false
      Version:
        type: string
        description: Specifies the version of the GitHub module to be installed. The value must be an exact version.
        required: false
        default: ''
      Prerelease:
        type: boolean
        description: Whether to use a prerelease version of the 'GitHub' module.
        required: false
        default: false
      WorkingDirectory:
        type: string
        description: The working directory where the script will run from.
        required: false
        default: '.'

permissions:
  contents: read # to checkout the repo

jobs:
  Get-CodeCoverage:
    name: Get-CodeCoverage
    runs-on: ubuntu-latest
    steps:
      - name: Get-CodeCoverage
        uses: PSModule/Get-PesterCodeCoverage@a7923eefbf55b452f9b1534c5b50ca9bd192f810 # v1.0.3
        id: Get-CodeCoverage
        with:
          CodeCoveragePercentTarget: ${{ inputs.CodeCoveragePercentTarget }}
          StepSummary_Mode: ${{ inputs.StepSummary_Mode }}
          Debug: ${{ inputs.Debug }}
          Prerelease: ${{ inputs.Prerelease }}
          Verbose: ${{ inputs.Verbose }}
          Version: ${{ inputs.Version }}
          WorkingDirectory: ${{ inputs.WorkingDirectory }}
