name: Get-Settings

on:
  workflow_call:
    inputs:
      SettingsPath:
        type: string
        description: The path to the settings file.
        required: false
      Debug:
        type: boolean
        description: Enable debug output.
        required: false
        default: false
      Verbose:
        type: boolean
        description: Enable verbose output.
        required: false
        default: false
      Version:
        type: string
        description: Specifies the version of the GitHub module to be installed. The value must be an exact version.
        required: false
        default: ''
      Prerelease:
        type: boolean
        description: Whether to use a prerelease version of the 'GitHub' module.
        required: false
        default: false
      WorkingDirectory:
        type: string
        description: The path to the root of the repo.
        required: false
        default: '.'

    outputs:
      Settings:
        description: The complete settings object including test suites
        value: ${{ jobs.Get-Settings.outputs.Settings }}

permissions:
  contents: read # to checkout the repo

jobs:
  Get-Settings:
    name: Get-Settings
    runs-on: ubuntu-latest
    outputs:
      Settings: ${{ steps.Get-Settings.outputs.Settings }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Get-Settings
        uses: PSModule/Get-PSModuleSettings@28c1805d689dc5bfcfba7489e76c34a6d33d7da8 # v1.4.0
        id: Get-Settings
        with:
          SettingsPath: ${{ inputs.SettingsPath }}
          Debug: ${{ inputs.Debug }}
          Prerelease: ${{ inputs.Prerelease }}
          Verbose: ${{ inputs.Verbose }}
          Version: ${{ inputs.Version }}
          WorkingDirectory: ${{ inputs.WorkingDirectory }}
