name: Get-CodeCoverage

on:
  workflow_call:
    inputs:
      Settings:
        type: string
        description: The complete settings object.
        required: true

permissions:
  contents: read # to checkout the repo

jobs:
  Get-CodeCoverage:
    name: Get-CodeCoverage
    runs-on: ubuntu-latest
    steps:
      - name: Get-CodeCoverage
        uses: PSModule/Get-PesterCodeCoverage@a7923eefbf55b452f9b1534c5b50ca9bd192f810 # v1.0.3
        id: Get-CodeCoverage
        with:
          CodeCoveragePercentTarget: ${{ fromJson(inputs.Settings).Test.CodeCoverage.PercentTarget }}
          StepSummary_Mode: ${{ fromJson(inputs.Settings).Test.CodeCoverage.StepSummaryMode }}
          Debug: ${{ fromJson(inputs.Settings).Debug }}
          Prerelease: ${{ fromJson(inputs.Settings).Prerelease }}
          Verbose: ${{ fromJson(inputs.Settings).Verbose }}
          Version: ${{ fromJson(inputs.Settings).Version }}
          WorkingDirectory: ${{ fromJson(inputs.Settings).WorkingDirectory }}
