name: Publish-Module

on:
  workflow_call:
    secrets:
      APIKey:
        description: The API key for the PowerShell Gallery.
        required: true
    inputs:
      Settings:
        type: string
        description: The complete settings object.
        required: true

permissions:
  contents: write # to checkout the repo and create releases
  pull-requests: write # to comment on PRs

jobs:
  Publish-Module:
    name: Publish-Module
    runs-on: ubuntu-latest
    env:
      SETTINGS: ${{ inputs.Settings }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Publish module
        uses: PSModule/Publish-PSModule@feature/releasetype-input
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          Name: ${{ fromJson(inputs.Settings).Name }}
          ModulePath: outputs/module
          APIKey: ${{ secrets.APIKEY }}
          WhatIf: ${{ github.repository == 'PSModule/Process-PSModule' }}
          AutoCleanup: ${{ fromJson(inputs.Settings).Publish.Module.AutoCleanup }}
          AutoPatching: ${{ fromJson(inputs.Settings).Publish.Module.AutoPatching }}
          DatePrereleaseFormat: ${{ fromJson(inputs.Settings).Publish.Module.DatePrereleaseFormat }}
          IgnoreLabels: ${{ fromJson(inputs.Settings).Publish.Module.IgnoreLabels }}
          ReleaseType: ${{ fromJson(inputs.Settings).Publish.Module.ReleaseType }}
          IncrementalPrerelease: ${{ fromJson(inputs.Settings).Publish.Module.IncrementalPrerelease }}
          MajorLabels: ${{ fromJson(inputs.Settings).Publish.Module.MajorLabels }}
          MinorLabels: ${{ fromJson(inputs.Settings).Publish.Module.MinorLabels }}
          PatchLabels: ${{ fromJson(inputs.Settings).Publish.Module.PatchLabels }}
          VersionPrefix: ${{ fromJson(inputs.Settings).Publish.Module.VersionPrefix }}
          UsePRTitleAsReleaseName: ${{ fromJson(inputs.Settings).Publish.Module.UsePRTitleAsReleaseName }}
          UsePRBodyAsReleaseNotes: ${{ fromJson(inputs.Settings).Publish.Module.UsePRBodyAsReleaseNotes }}
          UsePRTitleAsNotesHeading: ${{ fromJson(inputs.Settings).Publish.Module.UsePRTitleAsNotesHeading }}
          WorkingDirectory: ${{ fromJson(inputs.Settings).WorkingDirectory }}
