name: Test-Module

on:
  workflow_call:
    secrets:
      TEST_APP_ENT_CLIENT_ID:
        description: The client ID of an Enterprise GitHub App for running tests.
        required: false
      TEST_APP_ENT_PRIVATE_KEY:
        description: The private key of an Enterprise GitHub App for running tests.
        required: false
      TEST_APP_ORG_CLIENT_ID:
        description: The client ID of an Organization GitHub App for running tests.
        required: false
      TEST_APP_ORG_PRIVATE_KEY:
        description: The private key of an Organization GitHub App for running tests.
        required: false
      TEST_USER_ORG_FG_PAT:
        description: The fine-grained personal access token with org access for running tests.
        required: false
      TEST_USER_USER_FG_PAT:
        description: The fine-grained personal access token with user account access for running tests.
        required: false
      TEST_USER_PAT:
        description: The classic personal access token for running tests.
        required: false
    inputs:
      Settings:
        type: string
        description: The settings object as a JSON string.
        required: true

env:
  TEST_APP_ENT_CLIENT_ID: ${{ secrets.TEST_APP_ENT_CLIENT_ID }}
  TEST_APP_ENT_PRIVATE_KEY: ${{ secrets.TEST_APP_ENT_PRIVATE_KEY }}
  TEST_APP_ORG_CLIENT_ID: ${{ secrets.TEST_APP_ORG_CLIENT_ID }}
  TEST_APP_ORG_PRIVATE_KEY: ${{ secrets.TEST_APP_ORG_PRIVATE_KEY }}
  TEST_USER_ORG_FG_PAT: ${{ secrets.TEST_USER_ORG_FG_PAT }}
  TEST_USER_USER_FG_PAT: ${{ secrets.TEST_USER_USER_FG_PAT }}
  TEST_USER_PAT: ${{ secrets.TEST_USER_PAT }}

permissions:
  contents: read # to checkout the repo and create releases on the repo

jobs:
  Test-Module:
    name: Test-Module (${{ matrix.OSName }})
    runs-on: ${{ matrix.RunsOn }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(inputs.Settings).TestSuites.PSModule }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download module artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: module
          path: ${{ fromJson(inputs.Settings).WorkingDirectory }}/outputs/module

      - name: Test-Module
        uses: PSModule/Test-PSModule@7d94ed751a60973867e84ea8d44521e94b7c485d # v3.0.7
        with:
          Name: ${{ fromJson(inputs.Settings).Name }}
          Debug: ${{ fromJson(inputs.Settings).Debug }}
          Prerelease: ${{ fromJson(inputs.Settings).Prerelease }}
          Verbose: ${{ fromJson(inputs.Settings).Verbose }}
          Version: ${{ fromJson(inputs.Settings).Version }}
          WorkingDirectory: ${{ fromJson(inputs.Settings).WorkingDirectory }}
          Settings: Module

  Lint-Module:
    name: Lint-Module (${{ matrix.OSName }})
    runs-on: ${{ matrix.RunsOn }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(inputs.Settings).TestSuites.PSModule }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download module artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: module
          path: ${{ fromJson(inputs.Settings).WorkingDirectory }}/outputs/module

      - name: Lint-Module
        uses: PSModule/Invoke-ScriptAnalyzer@0b13023a981f4c94136bba6193a9abd2d936cbc1 # v4.1.1
        with:
          Path: outputs/module
          Debug: ${{ fromJson(inputs.Settings).Debug }}
          Prerelease: ${{ fromJson(inputs.Settings).Prerelease }}
          Verbose: ${{ fromJson(inputs.Settings).Verbose }}
          Version: ${{ fromJson(inputs.Settings).Version }}
          WorkingDirectory: ${{ fromJson(inputs.Settings).WorkingDirectory }}
          TestResult_Enabled: true
          TestResult_TestSuiteName: PSModuleLint-Module-${{ runner.os }}
