name: Test-SourceCode

on:
  workflow_call:
    inputs:
      RunsOn:
        type: string
        description: The type of runner to use for the job.
        required: true
      OS:
        type: string
        description: The operating system name.
        required: true
      Name:
        type: string
        description: The name of the module to process. Scripts default to the repository name if nothing is specified.
        required: false
      Debug:
        type: boolean
        description: Enable debug output.
        required: false
        default: false
      Verbose:
        type: boolean
        description: Enable verbose output.
        required: false
        default: false
      Version:
        type: string
        description: Specifies the version of the GitHub module to be installed. The value must be an exact version.
        required: false
        default: ''
      Prerelease:
        type: boolean
        description: Whether to use a prerelease version of the 'GitHub' module.
        required: false
        default: false
      WorkingDirectory:
        type: string
        description: The working directory where the script will run from.
        required: false
        default: '.'

permissions:
  contents: read # to checkout the repo and create releases on the repo

jobs:
  Test-SourceCode:
    name: Test-SourceCode (${{ inputs.RunsOn }})
    runs-on: ${{ inputs.RunsOn }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Test-SourceCode
        uses: PSModule/Test-PSModule@80b0364db8192e73f584603c68a127de171f881f # v3.0.6
        with:
          Debug: ${{ inputs.Debug }}
          Prerelease: ${{ inputs.Prerelease }}
          Verbose: ${{ inputs.Verbose }}
          Version: ${{ inputs.Version }}
          WorkingDirectory: ${{ inputs.WorkingDirectory }}
          Settings: SourceCode
